<div class="text-center">
  <h1>新規登録</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @user, local: true) do |f| %>
       <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group">
        <%= f.label :name, 'お名前' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email, 'メールアドレス' %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, 'パスワード（確認）' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      
      <div class="row">
        <div class="form-group col-sm-6">
          <%= f.label :weight_initial, '現在の体重' %>
          <div class="form-inline">
            <%= f.text_field :weight_initial, class: 'form-control' %>
          <span class="ml-3">kg</span>
          </div>
        </div>
        <div class="form-group col-sm-6">
          <%= f.label :weight_goal, '目標体重' %>
          <div class="form-inline">
            <%= f.text_field :weight_goal, class: 'form-control' %>
          <span class="ml-3">kg</span>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="form-group col-sm-6">
          <%= f.label :age, '年齢' %>
          <div class="form-inline">
            <%= f.number_field :age, class: 'form-control' %>
          <span class="ml-3">歳</span>
          </div>
        </div>
        <div class="form-group col-sm-6">
          <%= f.label :height, '身長' %>
          <div class="form-inline">
            <%= f.text_field :height, class: 'form-control' %>
          <span class="ml-3">cm</span>
          </div>
        </div>
      </div>

      <%= f.submit 'Sign up', class: 'btn btn-primary btn-block mt-3' %>
    <% end %>
  </div>
</div>