<div class="f-container" id="profile">
    <div class="f-item" id="user-name"><%= @user.name %>さん</div>
    <div class="f-item">
        <div class="profile-item">目標体重: <span><%= @user.weight_goal %></span>kg</div>
        <div class="profile-item">身長: <span><%= @user.height %></span>cm</div>
    </div>
</div>

<div class="f-container" id="content">
    <div class="f-item">
        <p><%= Date.today.strftime("%Y-%m-%d") %>現在</p>
        <p class="weight_latest"><%= @weight_latest %><span class="unit">kg</span></p>
        <div class="button">
            <%= link_to "体重を更新", new_weight_path, class: 'btn btn-success btn-lg' %>
        </div>
    </div>
    <div class="f-item">
        <div class="content-item">
            <p class="label">目標まであと</p>
            <p class="number"><%= (@weight_latest - @user.weight_goal).round(2) %><span class="unit">kg</span></p>
        </div>
        <div class="content-item">
            <p class="label">前回から</p>
            <p class="number"><%= @fluc %><span class="unit">kg</span></p>
        </div>
        <div class="content-item">
            <p class="label">目標達成率</p>
            <% per = (1 - (@weight_latest - @user.weight_goal)/(@user.weight_initial - @user.weight_goal)) * 100 %>
            <p class="number"><%= per.round(2) %><span class="unit">%</span></p>
        </div>
    </div>
</div>
<div class="f-container" id="dif">
    <div class="f-item-40 border border-dark rounded">
        <p><%= @date_start %>（登録時）</p>
        <p class="label">体重</p>
        <p class="number"><%= @user.weight_initial %><span class="unit">kg</span></p>
        <p class="label">BMI</p>
        <% bmi_initial = @user.weight_initial / (@user.height * @user.height) * 10000 %>
        <p class="number"><%= bmi_initial.round(2) %></p>
    </div>
    <div class='f-item-20'>
        <span class="arrow-right"><i class="fas fa-arrow-right fa-7x"></i></span>
        <span class="arrow-down"><i class="fas fa-arrow-down fa-5x"></i></span>
    </div>
    <div class="f-item-40 border border-dark rounded">
        <p><%= @date_latest %>（最終更新時）</p>
        <p class="label">体重</p>
        <p class="number"><%= @weight_latest %><span class="unit">kg</span></p>
        <p class="label">BMI</p>
        <% bmi_latest = @weight_latest / (@user.height * @user.height) * 10000 %>
        <p class="number"><%= bmi_latest.round(2) %></p>
    </div>
</div>

<div id="chart">
    <h2 style="color:#FF7300">体重の推移</h2>
    <div class="chart">
        <%= line_chart @data %>
    </div>
</div>
